<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %}社会性フィルター付きTwitterクライアント</title>
<meta name="description" content="社会性フィルター付きTwitterクライアント">
<meta name="keywords" content="twitter,社会性フィルター,にゃーん,なんであいつのために俺が苦労しないといけないんだ">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h2>社会性フィルター付きTwitterクライアント</h2>
  {% block content %}
    {{ content }}
  {% endblock %}
  <hr>
  <small>©︎2017 xKxAxKx</small><br>
</body>
</html>
