<h2>社会性フィルター付きTwitterクライアント</h2>

<!-- 未ログイン時 -->
<button type="button" onclick="location.href='{% url 'social:begin' 'twitter' %}'">Twitterでログイン</button>

<!-- ログイン時はユーザ名を表示 -->
<p>@{{ account_name }}でログインしています</p>
<button type="button" onclick="location.href='{% url 'social:begin' 'twitter' %}'">ログアウト</button>
<hr>
<!-- 未ログイン時は非表示 -->
<form method="POST">
  <textarea rows="5" cols="50"></textarea><br>
  <button >つぶやく</button>
</form>
{% if words %}
  <p>「{{ words }}」 とツイートしました。</p>
{% endif %}

<hr>
<h3>これはなにか</h3>
社会性フィルターを実装したつぶやきをすることができるやつ<br>
もう少し詳しく見る->
<hr>
<h3>社会性フィルターとは</h3>
<p>これです</p>
<blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">図です <a href="https://t.co/2OFfuLPk2l">pic.twitter.com/2OFfuLPk2l</a></p>&mdash; 4869 (@sh4869sh) <a href="https://twitter.com/sh4869sh/status/767244989503901696">2016年8月21日</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<hr>
<small>©︎2017 Hiromasa Kakutani</small><br>
<small>連絡先:pekepooooong[a]gmail.com</small>
